/* CSS Document */
body {
	background-color: #FFFFCC;
}

.style13 {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: medium;
	font-weight: normal;
}

.style14 {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	color: #803300;
	font-weight: bold;
}

.style15 {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: medium;
	font-weight: bold;
}

.style17 {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: x-large
}

.style18 {
	font-family: Arial, Tahoma, Verdana, sans-serif;
		font-weight: normal;
color: #CC0000
}

